tensorflow==2.7.4
tensorflow-model-optimization
pandas
pandas_profiling
scikit-learn
xgboost
pycaret
matplotlib
odspy
beautifulsoup4
selenium
webdriver_manager
tqdm
jupyter
jupyterlab
matplotlib
seaborn